.A{
    border: 16px solid blue;
    margin: 8px;
}

.B{
    border: 16px solid red;
    margin: 8px;
    background-color: bisque;
}

.C{
    color:  brown;
    font-size: 34px;
}

.D{
    height: 200px;
    width: 200px;
}

#i1{
    color: blueviolet;
}

.price{
    color:  brown;
    font-size: 34px;
}

.dis{
    background-color: yellow;
    font-size: 50px;
}